In [218]:
# Cargamos las librerias
import ast
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

#Como el se que mi Dataset tiene muchas columnas seteo a Pandas para que me muestre todas
pd.set_option('display.max_columns', None)

# Se carga el archivo CSV dentro de un DataFrame de Pandas

df = pd.read_csv('movies_dataset.csv')

C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\3227041743.py:13: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_dataset.csv')

In [219]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [220]:
#Realizo una exploración inicial de los datos
df.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [221]:
def stringified(x):
    if isinstance(x, str) == True:
        lst = ast.literal_eval(x)
        return lst
    else:
        return 0

In [222]:
df["genres"] = df["genres"].apply(lambda x: stringified(x))

In [223]:
def combines(x):
    lst = []
    if isinstance(x, list) == True:
        for i in x:
            lst.append(i['name'])
        return '|'.join(lst)
    else:
        np.nan

In [224]:
df["genres"] = df["genres"].apply(lambda x: combines(x))

In [225]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation|Comedy|Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,Adventure|Fantasy|Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,Romance|Comedy,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,Comedy|Drama|Romance,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [226]:
# Como observamos algunas columnas tienen diccionarios empaquetados en formato de listas "[]", procedo a eliminar los corchetes.

df['belongs_to_collection'] = df['belongs_to_collection'].astype(str).str.replace('[','').str.replace(']','')
df['genres'] = df['genres'].astype(str).str.replace('[','').str.replace(']','')
df['spoken_languages'] = df['spoken_languages'].astype(str).str.replace('[','').str.replace(']','')
df['production_companies'] = df['production_companies'].astype(str).str.replace('[','').str.replace(']','')
df['production_countries'] = df['production_countries'].astype(str).str.replace('[','').str.replace(']','')

df.head(2)

C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\1159837356.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['belongs_to_collection'] = df['belongs_to_collection'].astype(str).str.replace('[','').str.replace(']','')
C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\1159837356.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['genres'] = df['genres'].astype(str).str.replace('[','').str.replace(']','')
C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\1159837356.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['spoken_languages'] = df['spoken_languages'].astype(str).str.replace('[','').str.replace(']','')
C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\1159837356.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['production_companies'] = df['production_companies'].astype(str).str.replace('[','').str.replace(']','')
C:\Users\usuario\AppData\Local\Temp\ipykernel_20544\1159837356.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['production_countries'] = df['production_countries'].astype(str).str.replace('[','').str.replace(']','')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation|Comedy|Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{'name': 'Pixar Animation Studios', 'id': 3}","{'iso_3166_1': 'US', 'name': 'United States of...",1995-10-30,373554033.0,81.0,"{'iso_639_1': 'en', 'name': 'English'}",Released,NaN,Toy Story,False,7.7,5415.0
1,False,nan,65000000,Adventure|Fantasy|Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"{'name': 'TriStar Pictures', 'id': 559}, {'nam...","{'iso_3166_1': 'US', 'name': 'United States of...",1995-12-15,262797249.0,104.0,"{'iso_639_1': 'en', 'name': 'English'}, {'iso_...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [227]:
# Creo una funcion que me permita estandarizar los datos que se encuentran como diccionario en diferentes columnas a formato JSON, para posteriormente desempaquetarlos.
# En formato JSON las claves y valor van entre comillas dobles
# En esta misma funcion aprovecho para que si encuentra valores faltantes devuelva 0


def fix_json(x):
    try:
        d = json.loads(x.replace("'", "\""))
        return json.dumps({str(k): str(v) for k,v in d.items()})
    except:
        return 0

In [228]:
#Aplico la funcion a las columnas que me intereza estandarizar

df['belongs_to_collection'] = df['belongs_to_collection'].apply(fix_json)
df['spoken_languages'] = df['spoken_languages'].apply(fix_json)
df['production_companies'] = df['production_companies'].apply(fix_json)
df['production_countries'] = df['production_countries'].apply(fix_json)

df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{""id"": ""10194"", ""name"": ""Toy Story Collection""...",30000000,Animation|Comedy|Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"{""name"": ""Pixar Animation Studios"", ""id"": ""3""}","{""iso_3166_1"": ""US"", ""name"": ""United States of...",1995-10-30,373554033.0,81.0,"{""iso_639_1"": ""en"", ""name"": ""English""}",Released,NaN,Toy Story,False,7.7,5415.0
1,False,0,65000000,Adventure|Fantasy|Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,0,"{""iso_3166_1"": ""US"", ""name"": ""United States of...",1995-12-15,262797249.0,104.0,0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{""id"": ""119050"", ""name"": ""Grumpy Old Men Colle...",0,Romance|Comedy,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,0,"{""iso_3166_1"": ""US"", ""name"": ""United States of...",1995-12-22,0.0,101.0,"{""iso_639_1"": ""en"", ""name"": ""English""}",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,0,16000000,Comedy|Drama|Romance,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"{""name"": ""Twentieth Century Fox Film Corporati...","{""iso_3166_1"": ""US"", ""name"": ""United States of...",1995-12-22,81452156.0,127.0,"{""iso_639_1"": ""en"", ""name"": ""English""}",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{""id"": ""96871"", ""name"": ""Father of the Bride C...",0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,0,"{""iso_3166_1"": ""US"", ""name"": ""United States of...",1995-02-10,76578911.0,106.0,"{""iso_639_1"": ""en"", ""name"": ""English""}",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [229]:
# Aplico un funcion lambda y convierto los datos de columnas que tienen formato JSON a un diccionario, comprobando si el valor esta en formato de string, si no lo esta los empaqueta en un diccionario vaico
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: json.loads(x) if isinstance(x, str) else {})
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: json.loads(x) if isinstance(x, str) else {})
df['production_companies'] = df['production_companies'].apply(lambda x: json.loads(x) if isinstance(x, str) else {})
df['production_countries'] = df['production_countries'].apply(lambda x: json.loads(x) if isinstance(x, str) else {})

# Desanido los datos y agregar nuevas columnas al DataFrame
df = pd.concat([df.drop(['belongs_to_collection'], axis=1),
                json_normalize(df['belongs_to_collection']).add_prefix('belongs_to_collection_')],
               axis=1)
df = pd.concat([df.drop(['spoken_languages'], axis=1),
                json_normalize(df['spoken_languages']).add_prefix('spoken_languages_')],
               axis=1)
df = pd.concat([df.drop(['production_companies'], axis=1),
                json_normalize(df['production_companies']).add_prefix('production_companies_')],
               axis=1)
df = pd.concat([df.drop(['production_countries'], axis=1),
                json_normalize(df['production_countries']).add_prefix('production_countries_')],
               axis=1)


df.head(2)

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,spoken_languages_iso_639_1,spoken_languages_name,production_companies_name,production_companies_id,production_countries_iso_3166_1,production_countries_name
0,False,30000000,Animation|Comedy|Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,en,English,Pixar Animation Studios,3,US,United States of America
1,False,65000000,Adventure|Fantasy|Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,United States of America

In [230]:
# Remplazo los valores faltantes en las columnas solicitadas por 0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)

In [231]:
# Convierto la columna a formato fecha
df["release_date"]= pd.to_datetime(df['release_date'], errors= "coerce").dt.strftime('%Y-%m-%d')

# Creao la columna release_year
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year

# Elimino las filas que tienen valor faltante en la columna release_date
df.dropna(subset=['release_date'], inplace=True)

df['release_year'] = df['release_year'].astype(int)

In [232]:
df.isnull().sum()

adult                                      0
budget                                     0
genres                                     0
homepage                               37610
id                                         0
imdb_id                                   14
original_language                         11
original_title                             0
overview                                 941
popularity                                 0
poster_path                              339
release_date                               0
revenue                                    0
runtime                                  246
status                                    80
tagline                                24978
title                                      0
video                                      0
vote_average                               0
vote_count                                 0
belongs_to_collection_id               42211
belongs_to_collection_name             42211
belongs_to_collection_poster_path      42211
belongs_to_collection_backdrop_path    42211
spoken_languages_iso_639_1             11670
spoken_languages_name                  11670
production_companies_name              28893
production_companies_id                28893
production_countries_iso_3166_1        13238
production_countries_name              13238
release_year                               0
dtype: int64

In [233]:
#Convierto los datos de las columnas a formato numerico y le agrego que si por alguna razón encuentra un dato que no se pueda convertir lo setee como NaN y posteriormente esos valores los convierta en 0

df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)

#Creo la columna return como fue solicitada
df['return'] = df.apply(lambda row: 0 if row['budget'] == 0 else row['revenue'] / row['budget'], axis=1)

In [234]:
df.to_csv("Data_ML.csv", index=False)

In [235]:
# Elimino las columnas solicitadas
df.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'original_title', 'poster_path', 'homepage'], inplace=True)

In [236]:
#Por ultimo modifico el orden de la columnas
cols = df.columns.tolist()
cols

['budget',
 'genres',
 'id',
 'original_language',
 'overview',
 'popularity',
 'release_date',
 'revenue',
 'runtime',
 'status',
 'tagline',
 'title',
 'vote_average',
 'vote_count',
 'belongs_to_collection_id',
 'belongs_to_collection_name',
 'belongs_to_collection_poster_path',
 'belongs_to_collection_backdrop_path',
 'spoken_languages_iso_639_1',
 'spoken_languages_name',
 'production_companies_name',
 'production_companies_id',
 'production_countries_iso_3166_1',
 'production_countries_name',
 'release_year',
 'return']

In [237]:
cols = ['id','title','genres', 'release_date', 'release_year', 'budget','revenue','return',
 
 'original_language', 
 'overview',
 'popularity',
 'runtime',
 'status',
 'tagline',
 'vote_average', 'vote_count',
 'belongs_to_collection_id',
 'belongs_to_collection_name',
 'belongs_to_collection_poster_path',
 'belongs_to_collection_backdrop_path',
 'spoken_languages_iso_639_1',
 'spoken_languages_name',
 'production_companies_id',
 'production_companies_name',
 'production_countries_iso_3166_1',
 'production_countries_name'
 ]
df = df[cols]

In [238]:
df.head(2)

,id,title,genres,release_date,release_year,budget,revenue,return,original_language,overview,popularity,runtime,status,tagline,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,spoken_languages_iso_639_1,spoken_languages_name,production_companies_id,production_companies_name,production_countries_iso_3166_1,production_countries_name
0,862,Toy Story,Animation|Comedy|Family,1995-10-30,1995,30000000,373554033.0,12.451801,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,81.0,Released,NaN,7.7,5415.0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,en,English,3,Pixar Animation Studios,US,United States of America
1,8844,Jumanji,Adventure|Fantasy|Family,1995-12-15,1995,65000000,262797249.0,4.043035,en,When siblings Judy and Peter discover an encha...,17.015539,104.0,Released,Roll the dice and unleash the excitement!,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,United States of America

In [239]:
df_cast_crew = pd.read_csv("credits.csv")
df_cast_crew.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [240]:
def obtener_nombres_actores(row):
    actores = ast.literal_eval(row['cast'])
    nombres_actores = [actor['name'] for actor in actores]
    return nombres_actores

# Función para obtener el nombre del director
def obtener_nombre_director(row):
    crew = ast.literal_eval(row['crew'])
    directores = [miembro for miembro in crew if miembro['job'] == 'Director']
    if len(directores) > 0:
        nombre_director = directores[0]['name']
    else:
        nombre_director = ''
    return nombre_director

# Aplicar las funciones a las columnas correspondientes
df_cast_crew['actores'] = df_cast_crew.apply(obtener_nombres_actores, axis=1)
df_cast_crew['director'] = df_cast_crew.apply(obtener_nombre_director, axis=1)

df_cast_crew.drop(columns=['cast', 'crew'], inplace= True)
df_cast_crew.head()

      id                                            actores         director
0    862  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    John Lasseter
1   8844  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...     Joe Johnston
2  15602  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...    Howard Deutch
3  31357  [Whitney Houston, Angela Bassett, Loretta Devi...  Forest Whitaker
4  11862  [Steve Martin, Diane Keaton, Martin Short, Kim...    Charles Shyer

In [241]:
df['id'] = df['id'].astype(int)
df_cast_crew['id'] = df_cast_crew['id'].astype(int)
merged_df = pd.merge(df, df_cast_crew, on='id', how='left')

In [242]:
colsmerge = ['id','title','genres', 'release_date', 'release_year', 'actores', 'director','budget','revenue','return',
 
 'original_language', 
 'overview',
 'popularity',
 'runtime',
 'status',
 'tagline',
 'vote_average', 'vote_count',
 'belongs_to_collection_id',
 'belongs_to_collection_name',
 'belongs_to_collection_poster_path',
 'belongs_to_collection_backdrop_path',
 'spoken_languages_iso_639_1',
 'spoken_languages_name',
 'production_companies_id',
 'production_companies_name',
 'production_countries_iso_3166_1',
 'production_countries_name'
 ]
merged_df = merged_df[colsmerge]
merged_df.head(2)

,id,title,genres,release_date,release_year,actores,director,budget,revenue,return,original_language,overview,popularity,runtime,status,tagline,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,spoken_languages_iso_639_1,spoken_languages_name,production_companies_id,production_companies_name,production_countries_iso_3166_1,production_countries_name
0,862,Toy Story,Animation|Comedy|Family,1995-10-30,1995,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,30000000,373554033.0,12.451801,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,81.0,Released,NaN,7.7,5415.0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,en,English,3,Pixar Animation Studios,US,United States of America
1,8844,Jumanji,Adventure|Fantasy|Family,1995-12-15,1995,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,65000000,262797249.0,4.043035,en,When siblings Judy and Peter discover an encha...,17.015539,104.0,Released,Roll the dice and unleash the excitement!,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,United States of America

In [243]:
merged_df.to_csv("data_limpia.csv", index=False)
merged_df.to_excel("data_limpia.xlsx", index=False)